{% extends 'base.html.twig' %}

{% block main %}
    <div class="mainP">
    <p>I still haven't got my morning coffee so i dont know what to fill in in this
    section, so i just type what ever is in my head, anyways this is not relevant
    to assigment
    </p>
    </div>
{% endblock %}