{% extends 'base.html.twig' %}

{% block main %}
    <div class="mainP">
    <p>We at Coffee shop bring the finest roasted beans for all kind of
    taste, we using finest Italian technology to satisfy your taste</p>
    </div>
{% endblock %}