{% extends 'base.html.twig' %}

{% block main %}


<!- crate user form ->
    <form class="userCreate" method='post' action='/'>

        <h1 class="createUser">Create User</h1>

        <input type="hidden" name="action" value="craeteAccount">

        <div>
            <label for="logIn"><p>User Name</p></label>
            <input type='text' name="userNameCreate" required>
        </div>

        <div>
            <label for="logIn"><p>Password</p></label>
            <input type="password" name="passwordCreate" required>

        </div>
        <div>
            <label for="logIn"><p>Confirm Password</p></label>
            <input type="password" name="passwordConfirm" required>
        </div>
        <br>
        <div class="radio">
            <input type="radio" id="payed" name="payment" value="1">
            <label for="payed">
                <div class="isDeleted">
                    <p>Payed User</p>
                </div>
            </label>

            <input type="radio" id="free" name="payment" value="0" checked>
            <label for="free">
                <div class="isDeleted">
                    <p>Free User</p>
                </div>
            </label>

        </div>
        <br>

<!- roles radio ->
        <div class="radioRole">
            <label for="permission">
                <div class="isDeleted">
                    <p>Admin</p> <input type="radio" id="role" name="role" value="admin">
                </div>
            </label>


            <label for="permission">
                <div class="isDeleted">
                    <p>Staff</p> <input type="radio" id="role" name="role" value="staff">
                </div>
            </label>


            <label for="permission">
                <div class="isDeleted">
                    <p>Shop</p> <input type="radio" id="role" name="role" value="shop" checked>
                </div>
            </label>
        </div>
        <br>
        {% for error in error %}

             <div class="isDeleted">
                 <p>{{ error }}</p>
             </div>

        {% endfor %}
        <br>

        <input class="button" type="submit" value="Create User">
    </form>

<!- user delete form ->
    <form class="userDelete" method='post' action='/'>

        <h1 class="createUser">Delete User</h1>

        <input type="hidden" name="action" value="deleteAccount">

        <div>
            <label for="deleteUser">
                <p class="isDeleted">User Name</p></label>
            <input type='text' name="userNameDelete" required>
        </div>

        {% for delete in delete %}

            <div class="isDeleted">
                <p>{{ delete }}</p>
            </div>

        {% endfor %}

        <br>
        <input type="submit" value="Delete">

    </form>


{% endblock %}